**Topic 3 Consistency**

Q1conduct a simulation study from N(ùúá,ùúé^2) distribution.Demonstrate the consistency for the following estimators.

i)  xÃÑ for ùúá
ii) sample median for ùúá
iii) sample variance for ùúé^2

In [6]:
import numpy as np
import pandas as pd
mu=2.5;sigma=1.5
esp=0.05;EstP1,EstP2,EstP3=[],[],[]
n=[25,50,100,200,500,800,1000,1500,2000]
for i in n:
    x=np.random.normal(mu,sigma,(1000,i))
    EstP1.append(np.mean(abs(np.mean(x,axis=1)-mu)<esp))
    EstP2.append(np.mean(abs(np.var(x,axis=1)-sigma**2)<esp))
    EstP3.append(np.mean(abs(np.median(x,axis=1)-mu)<esp))
df=pd.DataFrame(data={'Sample Size':n,'xÃÑ':EstP1,'S^2':EstP2,'Sample Median':EstP3});df

   Sample Size     xÃÑ    S^2  Sample Median
0           25  0.111  0.065          0.110
1           50  0.164  0.097          0.152
2          100  0.261  0.131          0.201
3          200  0.344  0.175          0.270
4          500  0.547  0.275          0.438
5          800  0.654  0.349          0.580
6         1000  0.686  0.413          0.605
7         1500  0.789  0.457          0.707
8         2000  0.854  0.507          0.762

**Q2)Conduct a simulation study from U(0,theta), theta>0
distribution.Demonstrate the consistency for the following estimators for theta
comment on it.**

**i)2xÃÑ**

**ii)X(n)**

In [7]:
theta=1.5;esp=0.01;EstP1,EstP2=[],[]
n=[25,50,100,200,500,700,1000,1500,2000,2500]
for i in n:
    x=np.random.uniform(0,theta,(1000,i))
    EstP1.append(np.mean(abs(2*np.mean(x,axis=1)-theta)<esp))
    EstP2.append(np.mean(abs(np.max(x,axis=1)-theta)<esp))
df=pd.DataFrame(data={'Sample Size':n,'2xÃÑ':EstP1,'X(n)':EstP2});df

   Sample Size    2xÃÑ   X(n)
0           25  0.035  0.160
1           50  0.059  0.277
2          100  0.078  0.503
3          200  0.119  0.739
4          500  0.184  0.967
5          700  0.250  0.989
6         1000  0.276  1.000
7         1500  0.340  1.000
8         2000  0.389  1.000
9         2500  0.450  1.000

**Q3 conduct a simulation study from exponentialdistribution with location parameter mu .Demonstrate the consistency for the following estimators for mu and comment on it:
i)X(1) ii)xÃÑ-1**

In [ ]:
**Q4 for pareto distribution
i)

In [16]:
theta=2.5;esp=0.05;EstP1,EstP2=[],[]
n=[25,50,100,200,500,700,1000,1500,2000,2500]
for i in n:
    y=np.random.uniform(0,1,(1000,i))
    x=theta-np.log(1-y)
    EstP1.append(np.mean(abs(np.min(x,axis=1)-theta)<esp))
    EstP2.append(np.mean(abs((np.mean(x,axis=1)-1)-theta)<esp))
df=pd.DataFrame(data={'Sample Size':n,'X(1)':EstP1,'xÃÑ-1':EstP2});df

   Sample Size   X(1)   xÃÑ-1
0           25  0.720  0.219
1           50  0.919  0.282
2          100  0.994  0.384
3          200  1.000  0.517
4          500  1.000  0.730
5          700  1.000  0.849
6         1000  1.000  0.892
7         1500  1.000  0.960
8         2000  1.000  0.971
9         2500  1.000  0.991

**Q4 for pareto distribution
i)xÃÑ/xÃÑ-1
ii)n/‚àëlog(xi)**

In [19]:
theta=2.5;esp=0.05;EstP1,EstP2=[],[]
n=[25,50,100,200,500,700,1000,1500,2000,2500]
for i in n:
    y=np.random.uniform(0,1,(1000,i))
    x=(1-y)**(-1/theta)
    T1=np.mean(x,axis=1)
    EstP1.append(np.mean(abs((T1/T1-1)-theta)<esp))
    T2=1/sum(np.log(x))
    EstP2.append(np.mean(abs((T2-theta)<esp)))
df=pd.DataFrame(data={'Sample Size':n,'X(1)':EstP1,'xÃÑ-1':EstP2});df

   Sample Size  X(1)  xÃÑ-1
0           25   0.0   1.0
1           50   0.0   1.0
2          100   0.0   1.0
3          200   0.0   1.0
4          500   0.0   1.0
5          700   0.0   1.0
6         1000   0.0   1.0
7         1500   0.0   1.0
8         2000   0.0   1.0
9         2500   0.0   1.0