**Q1)Normal(ùúá,ùúé^2):
i)xÃÑ
ii)1/n‚àë(xi-xÃÑ)^2**

In [3]:
import numpy as np
import pandas as pd
mu=10;sigma=1;
n=[15,30,60]
mean_T1,mean_T2,var_T1,var_T2=[],[],[],[]
for i in n:
    x=np.random.normal(mu,sigma**2,(1000,i))
    mean_T1.append(np.mean(np.mean(x,axis=1)))
    mean_T2.append(np.mean(np.var(x,axis=1)))
    var_T1.append(np.var(np.mean(x,axis=1)))
    var_T2.append(np.var(np.var(x,axis=1)))
df=pd.DataFrame(data={'Sample Size':n,'xÃÑ':mean_T1,'var(xÃÑ)':var_T1,'1/n‚àë(xi-xÃÑ)':mean_T2,'Var(S^2)':var_T2})
df

   Sample Size         xÃÑ   var(xÃÑ)  1/n‚àë(xi-xÃÑ)  Var(S^2)
0           15  10.005923  0.063364     0.944027  0.133008
1           30  10.008013  0.033471     0.964106  0.061179
2           60   9.996748  0.016562     0.981684  0.032551

**Q2)uniform(0, ùúÉ), ùúÉ > 0
:2xÃÑ**

In [5]:
theta=5;
n=[5,15,30,60]
M_T,V_T=[],[]
for i in n:
    x=np.random.uniform(0,theta,(1000,i))
    M_T.append(np.mean(2*np.mean(x,axis=1)))
    V_T.append(np.var(2*np.mean(x,axis=1)))
df=pd.DataFrame(data={'Sample Size':n,'2xÃÑ':M_T,'V(2xÃÑ)':V_T})
df

   Sample Size       2xÃÑ    V(2xÃÑ)
0            5  4.982936  1.777067
1           15  5.006090  0.539687
2           30  5.017524  0.277073
3           60  5.008175  0.136090

**Q3)gamma{ùë•, ùõº, ùõΩ}:
i) ùëö1‚Ä≤/ùëö2
ii) ùëö1‚Ä≤^2/ùëö2**

In [ ]:
alpha,lambd=[],[]
n=[5,15,30,60]
def sum_xsq(x):
    sum_xs=sum(x*x)
    return(sum_xs/len(n))
for i in n:
    x=np.random.gamma(1,8,(1000,i))
    m1=np.mean(x,axis=1)
    m2=np.